---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "seite nicht gefunden",
	title: "nicht gefunden",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 — nicht gefunden</h1>
	<p class="mb-8">diese seite existiert nicht. über das menü findest du zurück.</p>
</PageLayout>
